# Dependencias y caché
node_modules
.pnpm-store
.pnpm-debug.log*

# Compilación
dist
artifacts

# Logs
*-debug.log
npm-debug.log*
yarn-debug.log*

# Secretos
.env
.env.*

# Control de versiones y editores
.git
.gitignore
.vscode
.idea
.DS_Store