services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_api
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production