services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_api
    ports:
      - "4321:4321"
    env_file:
      - .env
    environment:
      - NODE_ENV=production